*,*::before,*::after{

    box-sizing: border-box;
}
body{
font-size: var(--body-font-size);
    margin: 0;
    font-family: 'Lato', sans-serif,'Roboto';
}
a{
text-decoration: none;

}

img{

    max-width: 100%;
}
h1{

    font-size: var(--h1-font-size);
}