@import "config/variables";
@import "components/header";
@import "layout/layout";     



p{
   
    color: white;       
    
    span{

    background-color: aliceblue;
    }
   
    h1{

        font-family: 'Courier New', Courier, monospace;
    }
}    